import("methods")

importFrom("ShortRead",readAligned)

importFrom("rtracklayer", export.bedGraph)

importFrom("data.table", data.table, tables, setkey, setnames, rbindlist)

import("BiocGenerics")
import("S4Vectors")
import("IRanges")

import("GenomicRanges")
import("Biostrings")
import("BSgenome")
import("ggplot2")

export("pairReads")
export("mapReadsToRestrictionSites")
export("GOTHiC")
export("GOTHiChicup")
