import("methods")

importFrom("ShortRead",readAligned)

importFrom("rtracklayer", export.bedGraph)

importFrom(“data.table”, data.table, tables, setkey, setnames, rbindlist)
S3method("[", data.table)
S3method("[<-", data.table)
S3method("$<-", data.table)
S3method(print, data.table)
S3method(as.data.table, data.table)
S3method(as.data.table, data.frame)
S3method(as.data.table, list)
S3method(as.data.table, integer)
S3method(as.data.table, numeric)
S3method(as.data.table, character)
S3method(as.data.table, logical)
S3method(as.data.table, factor)
S3method(as.data.table, ordered)
S3method(as.data.table, table)
S3method(as.data.frame, data.table)
S3method(as.list, data.table)
S3method(unique, data.table)
S3method(merge, data.table)
S3method(subset, data.table)


import("BiocGenerics")
import("S4Vectors")
import("IRanges")

import("GenomicRanges")
import("Biostrings")
import("BSgenome")
import("ggplot2")

export("pairReads")
export("mapReadsToRestrictionSites")
export("GOTHiC")
export("GOTHiChicup")
